click==6.7
colorama==0.3.7
Django==1.10.5
isodate==0.5.4
ontospy==1.7.3
Owlready==0.3
pyfiglet==0.7.5
Pygments==2.2.0
pyparsing==2.1.10
rdflib==4.2.2
rdflib-jsonld==0.4.0
readline==6.2.4.1
requests==2.13.0
SPARQLWrapper==1.8.0
