table {
    border-collapse: collapse;
}

table, th, td, tr {
    border: 1px solid black;
    width: 70%;
}

th {
    height: 55px;
}

.table {
    width: 70%;
}

.table-striped {
    width: 70%;
}

.table-bordered {
    width: 70%;
}

.load {
    text-align: center;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #F3EEC3;
}

div#content {
    display: none;
}

div#loading {
    top: 200px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(ajax-loader.gif) no-repeat;
    cursor: wait;
}
