table {
    border-collapse: collapse;
}

table, th, td, tr {
    border: 1px solid black;
    width: 70%;
}

th {
    height: 55px;
}

.table {
    width: 70%;
}

.table-striped {
    width: 70%;
}

.table-bordered {
    width: 70%;
}

.load {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #F3EEC3;
}

div#content {
    display: none;
}

#bottom {
    text-align: center;
    position: fixed;
    background: gray;
    width: 100%;
    bottom: 0;
}
