<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

{% extends "bootstrap/base.html" %}
{% block title %}Overwatch - PML File Selection{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<h1>Select Required PML Document</h1>
<form action="/select-files" method=post>
    <ul>
        <table>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-3">&nbsp;Filename</th>
                <th class="col-md-8">&nbsp;Location</th>
            </tr>
            {%- for file in pml_files %}
            <tr>
                <td class="col-md-1"><input type=checkbox name={{ "check" }} value="{{ file['name'] }}"></td>
                <td class="col-md-3">&nbsp;{{ file['name'] }}</td>
                <td class="col-md-8">&nbsp;{{ file['path'] }}</td>
            </tr>
            {%- endfor %}
        </table>
    </ul>
    With selected:
    <input type=submit value=Analyse>
</form>
{% endblock %}